@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');


html {
    overflow-x: hidden;
}

body {
    margin: 0px;
    background: url(background1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
}


h1,
h2,
h3,
h4,
h5,
h5,
h6 {
    font-family: "Raleway";
    font-weight: 300;
}



.centralized {
    // padding: 0px 420px;
}

@font-face {
    font-family: Nautilus;
    /* Имя шрифта */
    src: url(Nautilus.otf);
    /* Путь к файлу со шрифтом */
}


/*start header*/

.container {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    align-items: center;
}

.site-header {
    display: flex;
    width: 55%;
    height: 100px;
}

.container-site-logo {
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding: 0 23px;
}

.site-name {
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 51px;
    font-family: Nautilus;
    font-weight: 600;
    color: #cfb6e6;
}
.site-name:hover {
  cursor: pointer;
}
.text-cage {
    color: #de8300;
    padding: 0 20px 0 0;
}

.text-cappe {
    width: 27%;
    display: flex;
    justify-content: flex-end;
}

.main-mune-header {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.menu-list {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: inherit;
    border-radius: 20px;
    background: rgba(73, 51, 255, 0);
    height: 75px;
    width: 80px;
    color: #cfb6e6;
}

.item-container:hover {
    cursor: pointer;
    background: rgba(73, 51, 255, 0);
    box-shadow: inset 0px 0px 20px 0px #4933ff;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.imges-menu {
    padding: 6px;
    width: 30px;
    height: 30px;
}


/*End header*/


/*main-header*/

.site-main {
    width: 55%;
    height: 100%;
}

.main-header {}

.container-h1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.please-select-h1 {
    font-size: 30px;
    color: #ffffff;
}

.serch-upload-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-container {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.search-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 86%;
    border: none rgba(202, 181, 181, 0.92);
    padding: 0px 7px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
}

.search-input {
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 82%;
    height: 30px;
    vertical-align: middle;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -khtml-border-radius: 10px 0 0 10px;
}

.container-button {
    width: 18%;
    display: flex;
    justify-content: flex-start;
}

.button-serch {
    width: 80px;
    height: 30px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -khtml-border-radius: 0px 10px 10px 0px;
    background: #4933ff;
}

.button-serch:hover {
    cursor: pointer;
    background: #c33737;
    box-shadow: inset 0px 0px 20px 0px #4933ff;
}

.button-upl-img-container {}

.button-upl-img {
    width: 140px;
    height: 30px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    background: #4933ff;
}

.button-upl-img:hover {
    cursor: pointer;
    background: #c33737;
    box-shadow: inset 0px 0px 20px 0px #4933ff;
}


/*end main-header*/

.posts-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
    color: #ebe3f3;
}

.posts {
    padding: 10px;
    margin: 10px;
    border: 2px solid rgba(202, 181, 181, 0.92);
    background: rgba(110, 80, 204, 0.45);
    border-radius: 3px;
}

.social-post {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.container-text-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-Favorites {}

.line-hr {
    size: 1px;
    color: red;
}

.text-post {}

.text-social-iteam {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.container-social-iteam {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
}

.iteam-social {
    border-radius: 100%;
    background: #b1aeae;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center
}

.img-social {
    height: 15px;
    width: 8px;
}

.iteam-social:hover {
    background: #283e8f;
    cursor: pointer;
}


.more {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px 0;
}

.submit-more {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    border: 8px;
    background: #4933ff;
    font-weight: 500;
    font-size: 17px;
}

.submit-more:hover {
    background: #c33737;
    box-shadow: inset 0px 0px 20px 0px #4933ff;
}


/*footer*/

.site-footer {
    display: flex;
    width: 55%;
}

.container-footer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: #bf9cde;
}

.iteam-footer {
    list-style: none;
}

.link-footer {
    text-decoration: none;
    color: #bf9cde;
}

.link-footer:hover {
    text-decoration: underline;
    color: black;
}

.input-container {
    padding: 20px 0;
}

.input-footer {
    list-style: none;
    border: 2px solid #9e63d4;
    border-radius: 7px;
    height: 20px;
}

.button-input-footer {
    height: 24px;
    border-radius: 4px;
    border: 8px;
    background: #4933ff;
}

.button-input-footer:hover {
    background: #c33737;
    box-shadow: inset 0px 0px 20px 0px #4933ff;
}

.social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.social li {
    list-style: none;
    border: 2px solid #9e63d4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
    color: #EDEFF1;
}

.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}

.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}
