@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
body {
    margin: 0px;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(27%, #290a58), color-stop(120%, #d54040));
    background: linear-gradient(to bottom right, #263880 27%, #d54040 120%);
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
    font-family: "Raleway";
    font-weight: 300;
}

.centralized {
    /* padding: 0px 420px; */
}

@font-face {
    /* Имя шрифта */
    font-family: Nautilus;
    /* Путь к файлу со шрифтом */
    src: url(Nautilus.otf);
}


/*start header*/

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.site-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 53%;
    height: 100px;
}

.container-site-logo {
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 50%;
    padding: 0 23px;
}

.site-name {
    width: 94%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 51px;
    font-family: Nautilus;
    font-weight: 600;
    color: #FFFFFF;
}

.site-name:hover {
    cursor: pointer;
}

.text-cage {
    color: #de8300;
    padding: 0 20px 0 0;
}

.text-cage:hover {
    cursor: pointer;
}

.text-cappe {
    width: 27%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.main-mune-header {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu-list {
    height: 100%;
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    border-radius: 20px;
    background: rgba(73, 51, 255, 0);
    height: 75px;
    width: 80px;
    color: #FFFFFF;
}

.item-container:hover {
    cursor: pointer;
}

.menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
}

.imges-menu {
    padding: 6px;
    width: 30px;
    height: 30px;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.imges-menu:hover {
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    cursor: pointer;
}


/*End header*/


/*main-header*/

.site-main {
    width: 55%;
    height: 100%;
}

.main-header {}

.container-h1 {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.please-select-h1 {
    font-size: 30px;
    color: #ffffff;
}

.serch-upload-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.search-container {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.search-input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 86%;
    padding: 0px 7px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
}

.search-input {
    border: none;
    width: 82%;
    height: 30px;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -khtml-border-radius: 10px 0 0 10px;
}

.container-button {
    width: 18%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.button-serch {
    width: 83px;
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -khtml-border-radius: 0px 10px 10px 0px;
    background-image: linear-gradient(to right, #2652dd 0%, #ac5f5f 50%, #d54040 100%);
    background-image: linear-gradient(to right, #2652dd 0%, #ac5f5f 50%, #d54040 100%);
    background-size: 200% auto;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    -webkit-transition: .5s;
    transition: .5s;
}

.button-serch:hover {
    cursor: pointer;
    background-position: right center;
    ;
}

.button-upl-img {
    width: 140px;
    height: 30px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #2652dd 0%, #ac5f5f 50%, #d54040 100%);
    background-image: linear-gradient(to right, #2652dd 0%, #ac5f5f 50%, #d54040 100%);
    background-size: 200% auto;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    -webkit-transition: .5s;
    transition: .5s;
}

.button-upl-img:hover {
    cursor: pointer;
    background-position: right center;
}


/*end main-header*/

.posts-container {
    width: 100%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 40px 0;
    color: #ebe3f3;
}

.posts {
    padding: 10px;
    margin: 10px;
    border: 2px solid rgba(202, 181, 181, 0.92);
    background: rgba(110, 80, 204, 0.45);
    border: 2px solid transparent;
    -o-border-image: linear-gradient(to bottom, #5947e8 0%, #c65e18 51%, #290a58 100%);
    border-image: -webkit-gradient(linear, left top, left bottom, from(#5947e8), color-stop(51%, #c65e18), to(#290a58));
    border-image: linear-gradient(to bottom, #5947e8 0%, #c65e18 51%, #290a58 100%);
    border-image-slice: 1;
}

.social-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
}

.container-text-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.iteam-Favorites {
    font-size: 23px;
    color: red;
}

.line-hr {
    margin: 7px 0 7px 0;
    border: 0;
    height: 2px;
    background-image: -webkit-gradient(linear, left top, right top, from(#c65e18), color-stop(51%, #290a58), to(#5947e8));
    background-image: linear-gradient(90deg, #c65e18 0%, #290a58 51%, #5947e8 100%);
    -webkit-border-image: -webkit-linear-gradient(to top, #c65e18 0%, #290a58 51%, #5947e8 100%);
}

.text-social-iteam {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.container-social-iteam {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 56%;
}

.iteam-social {
    border-radius: 100%;
    background: #3180C2;
    width: 25px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.iteam-social:hover {
    background: #29AACA;
    cursor: pointer;
}

.more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 0;
}

.submit-more {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    font-weight: 500;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-image: linear-gradient(to right, #2652dd 0%, #ac5f5f 50%, #d54040 100%);
    background-image: linear-gradient(to right, #2652dd 0%, #ac5f5f 50%, #d54040 100%);
    background-size: 200% auto;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    -webkit-transition: .5s;
    transition: .5s;
}

.submit-more:hover {
    cursor: pointer;
    background-position: right center
}


/*footer*/

.site-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 53%;
}

.container-footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    color: #FFFFFF;
}

.iteam-footer {
    list-style: none;
}

.link-footer {
    text-decoration: none;
    color: #FFFFFF;
}

.link-footer:hover {
    text-decoration: underline;
    color: black;
}

.input-container {
    padding: 20px 0;
}

.input-footer {
    list-style: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    height: 20px;
}

.button-input-footer {
    height: 24px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    background-image: linear-gradient(to right, #2652dd 0%, #ac5f5f 50%, #d54040 100%);
    background-image: linear-gradient(to right, #2652dd 0%, #ac5f5f 50%, #d54040 100%);
    background-size: 200% auto;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    -webkit-transition: .5s;
    transition: .5s;
}

.button-input-footer:hover {
    cursor: pointer;
    background-position: right center
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social li {
    list-style: none;
    border: 2px solid #9e63d4;
    border-radius: 50%;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
    color: #EDEFF1;
}

.social li:hover {
    border: 2px solid #2c3e50;
    // background: #2c3e50;
    background-image: -webkit-gradient(linear, left top, right top, from(#5947e8), color-stop(51%, #c65e18), to(#290a58));
    background-image: linear-gradient(to right, #5947e8 0%, #c65e18 51%, #290a58 100%);
}

.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1;
}


}